<h1>About Us</h1>

<body>
    <h3>Why we create the web?</h3>
    <p>
        more and more people join in to the workout team for health issues or make self more beautiful. We come to help people find out any workout class or PT which it's suitable fo you. save your time and money. 
    </p>
    
    <h3>Exercise controls weight</h3>
    <p>
        Exercise can help prevent excess weight gain or help maintain weight loss. When you engage in physical activity, you burn calories. The more intense the activity, the more calories you burn.
        
        Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day. Any amount of activity is better than none at all. To reap the benefits of exercise, just get more active throughout your day — take the stairs instead of the elevator or rev up your household chores. Consistency is key. 
    </p>

    <h3>Exercise combats health conditions and diseases</h3>
    <p>
        Worried about heart disease? Hoping to prevent high blood pressure? No matter what your current weight is, being active boosts high-density lipoprotein (HDL) cholesterol, the "good" cholesterol, and it decreases unhealthy triglycerides. This one-two punch keeps your blood flowing smoothly, which decreases your risk of cardiovascular diseases.
    </p>

    <h3>Exercise improves mood</h3>
    <p>
        Need an emotional lift? Or need to blow off some steam after a stressful day? A gym session or brisk walk can help. Physical activity stimulates various brain chemicals that may leave you feeling happier, more relaxed and less anxious. You may also feel better about your appearance and yourself when you exercise regularly, which can boost your confidence and improve your self-esteem.
    </p>
    

</body>